*{
    margin: 0%;
    padding: 0%;
}

#main-title{
    font-size: 32px;
    color:darkblue;
    text-align: center;
}

#subtitle{
    font-size: 24px;
    color:darkgreen;
}
p{
    border: 2px solid;
    border-color: sandybrown;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
